
.game-board .point-cards, .game-board .merchant-cards {
    display: flex;
    align-items: center;
    height: 50%;
}

.game-board .point-cards > div, .game-board .merchant-cards > div {
    height: 90%;
    width: 9.5%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board .point-cards > div {
    justify-content: space-between;
}

.game-board .point-card, .game-board .point-card-deck, .game-board .merchant-card, .game-board .merchant-card-deck {
    height: 70%;
}

.game-board .merchant-card-crystals {
    height: 10%;
    width: 80%;
}

.game-board .token {
    height: 25%;
}
