
.point-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2% 1%;
    align-items: center;

    container-type: inline-size;
    font-size: 14px;
}

.point-card-crystals {
    width: 100%;
    display: flex;
    justify-content: center;
}

.point-card-crystals > div {
    height: 100%;
    width: 15%;
    margin: 0 0.5px;
}

@container (min-width: 30px) {
    .point-card > div {
        font-size: 20px;
    }
}
