.pick-merchant-card-modal .merchant-card {
    height: 80%;
}

.pick-merchant-card-modal .controls {
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.pick-merchant-card-modal .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pick-merchant-card-modal .merchant-card-crystals {
    width: fit-content;
    height: 50%;
}
