
.history {
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: antiquewhite;
    color: black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.history > :last-child {
    margin-top: auto !important;
    /* use !important to prevent breakage from child margin settings */
}

.history .action {
    margin-top: 8px;
}
