
.player-stats-row {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 100px;
}

.player-stats-row > div {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-stats-row .point-cards {
    width: 300px;
    justify-content: left;
}

.player-stats-row .point-card {
    width: 15%;
    margin-left: 4px;
}
