
.crystal-overflow-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crystal-overflow-modal .crystals-container {
    min-width: 80px;
    max-width: 160px;
    width: 50%;

    height: 50%;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.crystal-overflow-modal .crystals {
    width: 100%;
    height: 50%;
}

.crystal-overflow-modal p {
    color: black;
}